[submodule "front"]
	path = front
	url = https://github.com/felipecalderon/nocountry-ecoshop-front.git
[submodule "back"]
	path = back
	url = https://github.com/felipecalderon/nocountry-ecoshop-back.git
